body {
    text-align: center;
    margin: 0;
    background: #f9ecc3;
}

a {
    text-decoration: none;
    color: #a47719;;
}

.head {
    background: #a47719;
    padding: 20px 0;
}

.head h1 {
    margin: 0;
}

.description {
    margin: 1em 20%;
    font-size: small;
}

.description span {
    display: inline;
}

.calendar {
    margin: 10px 20%;
}

.daybox {
    float: left;
    width: 14.2%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.weekday {
    background: #a47719;
    font-weight: bold;
}

.left-colomn
{
    float: left;
    width: 20%;
    text-align: right;
}

.right-colomn
{
    float: right;
    width: 20%;
    text-align: left;
}

.monthbox {
    float: right;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: small;
    padding: 0 1em;
}